CONFIG_BOOTCACHE=y
CONFIG_BOOTCACHE_BACKEND_MEMORY=y
CONFIG_CLK_IMX8MP_AUDIOMIX=y
CONFIG_ECTRL_STM32=y

CONFIG_EXTRA_FIRMWARE_DIR="../../targets/nxp/blubbel"

# Convert modules to builtins:

CONFIG_USB_CONN_GPIO=y
CONFIG_USB_EHCI_HCD=y
CONFIG_USB_XHCI_HCD=y
CONFIG_USB_EHCI_HCD_PLATFORM=y
CONFIG_USB_DWC3=y
CONFIG_USB_DWC3_IMX=y
CONFIG_USB_DWC3_IMX8MP=y

CONFIG_ARM_IMX_CPUFREQ_DT=y
CONFIG_IMX8MM_THERMAL=y
CONFIG_IMX_SDMA=y

CONFIG_EEPROM_AT24=y
CONFIG_SPI_IMX=y
CONFIG_RTC_DRV_RV8803=y

CONFIG_TI_ADC081C=y
CONFIG_TI_ADS1015=y

CONFIG_VIDEO_HANTRO=y

CONFIG_SND_SOC=y
CONFIG_SND_SOC_FSL_SAI=y
CONFIG_SND_SOC_FSL_UTILS=y
CONFIG_SND_SOC_IMX_PCM_DMA=y
CONFIG_SND_SOC_ADAU7002=y
CONFIG_SND_SOC_MAX98357A=y

CONFIG_CRYPTO_DEV_FSL_CAAM_COMMON=y
CONFIG_CRYPTO_DEV_FSL_CAAM_CRYPTO_API_DESC=y
CONFIG_CRYPTO_DEV_FSL_CAAM_AHASH_API_DESC=y
CONFIG_CRYPTO_DEV_FSL_CAAM=y
CONFIG_CRYPTO_DEV_FSL_CAAM_JR=y
