# USB Networking
CONFIG_USB_NET_DRIVERS=y
CONFIG_USB_USBNET=y

CONFIG_AX88796B_PHY=y
CONFIG_NET_VENDOR_ASIX=y
CONFIG_USB_NET_AX88179_178A=y
CONFIG_USB_NET_AX8817X=y

# Check these ?
##CONFIG_SPI_AX88796C=y
##CONFIG_SPI_AX88796C_COMPRESSION=y
