CONFIG_DEVTMPFS_MOUNT=y
CONFIG_DEVTMPFS=y
CONFIG_DEVTMPFS_MOUNT=y
CONFIG_PROC_FS=y
CONFIG_SYSFS=y
CONFIG_TMPFS=y
CONFIG_DEVPTS_FS=y
CONFIG_UNIX98_PTYS=y

#
# Useful pseudo-filesystems
#

CONFIG_CONFIGFS_FS=y
CONFIG_SECURITYFS=y
CONFIG_DEBUG_FS=y

CONFIG_CGROUPS=y
CONFIG_AUTOFS_FS=y

